{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">测试</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">1号测试控制台</h2>

                    <div class="my-3 p-3 bg-body rounded shadow-sm">
                        <h3 class="border-bottom pb-2 mb-0">测试流程</h3>
                        <div class="d-flex text-muted pt-3">
                            <div class="spinner-grow flex-shrink-0 me-2" role="status" id="message1"></div>


                            <p class="pb-3 mb-0 small lh-sm">
                                <strong class="d-block text-gray-dark">读取条码信息</strong>
                                请用二维码扫码读取驱动板的条码信息
                                <i class="bi bi-0-square"></i>
                            </p>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <div class="spinner-grow flex-shrink-0 me-2" role="status" id="message2"></div>
                            <p class="pb-3 mb-0 small lh-sm">
                                <strong class="d-block text-gray-dark">读取仪表数据</strong>
                                请上电后开始测试
                            </p>
                        </div>
                    </div>

                    <div class="my-3 p-3 bg-body rounded shadow-sm">
                        <h3 class="border-bottom pb-2 mb-0">测试结果</h3>
                        <div class="table-responsive" id="message3">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">条码信息</th>
                                    <th scope="col">电流/A</th>
                                    <th scope="col">电压/V</th>
                                    <th scope="col">功率/W</th>
                                    <th scope="col">转速/PCS</th>
                                    <th scope="col">测试时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>～</td>
                                    <td>～</td>
                                    <td>～</td>
                                    <td>～</td>
                                    <td>～</td>
                                    <td>～</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" id="message4">
                            <h1><span class="badge text-bg-warning rounded-pill"><i class="bi bi-question-circle"></i> 无结果</span></h1>
                        </div>
                    </div>


                    <button id="button1" class="btn btn-primary">开始</button>

                    <script type="text/javascript"
                            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script src="{{ url_for('static',filename='console.js') }}"></script>
                </div>
            </div>
        </div>


    </div>
</main>
{% endblock %}